<header th:fragment="copy">
    <div class="header-top">
        <div class="width-center">
            <div class="header-logo "><img th:src="@{/images/logo.png}" alt=""/></div>
            <div class="header-title div-inline">
                <strong><span th:text="${company.name}"></span></strong>
                 <span>www.cssmoban.com</span> 
            </div>

            <div class="search-box div-inline">
                <div class="input-box"><input type="text" name="search" placeholder="请输入关键字" th:value="${key}" id="search" onkeydown="infosearch()"/></div>
                <div class="search-botton" onclick="search()"></div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <button class="am-show-sm-only am-collapsed font f-btn" data-am-collapse="{target: '.header-nav'}">Menu <i
                class="am-icon-bars"></i></button>
        <nav>
        <ul class="header-nav-ul am-collapse am-in">
            <li class="on"><a th:href="@{/index}" name="index">首页</a></li>
            <li><a th:href="@{/aboutus}" name="about">关于我们</a></li>
            <li><a th:href="@{/product/productlist}" name="show">产品展示</a></li>
            <li><a th:href="@{/articlelist}" name="new">新闻资讯</a></li>
            <li><a th:href="@{/contact}" name="message">联系我们</a>
                <!-- <div class="secondary-menu">
                    <ul><li><a href="message.html" class="message"></a></li></ul>
                </div> -->
            </li>
        </ul>
        </nav>
    </div>
</header>